html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: white;
}
  
#content {
    margin-top: 78px;
}
  
#header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;
    flex: 1;
    background-color: #1f1f2e;
    border-bottom: 0.01rem solid wheat;
    transition: top 1s;
}
  
#nav-bar {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#nav-bar a:hover {
    border-bottom: #fff 0.1rem solid;
}
  
#header-logo {
    flex: 1;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex: 1;
    padding: 0.2rem;
}

#header-logo picture {
    margin: 0.2rem;
    padding: 0.2rem;
}

#header-logo picture #header-img {
    height: 3vw;
}
  
#nav-items {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}
  
#nav-items li {
    display: flex;
    flex: 1;
    justify-content: center;
}
  
.nav-link {
    text-decoration: none;
    list-style: none;
    padding: 0.1rem;
    display: flex;
    margin-top: 1rem;
}
  
.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
    background-color: #1d1d2d;
}
  
.mini-article {
    border-left: 0.1rem solid wheat;
    border-right: 0.1rem solid wheat;
    align-items: center;
    display: flex;
    width: 50vw;
    justify-content: center;
    color: #fff;
    background-color: #2d2d2d;
}
  
.mini-article #subscription {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
}
  
.mini-article #subscription #title {
    flex: 2;
    border: 0.1rem solid teal;
    text-align: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 2rem;
}
  
.mini-article #subscription #form {
    flex: 1;
    border: 0.1rem solid teal;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem;
}

#form {
      display: flex;
      flex-direction: column;
      align-items: center;
}
  
#form input {
    padding: 3%;
}

#form #email {
    width: 20vw;
}
  
.mini-article section #features {
    border: 0.1rem solid yellow;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}
  
.mini-article #features #product {
    border: 0.1rem solid wheat;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
  
#features #product #product-image {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    border: 0.1rem solid teal;
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: azure;
    border-radius: 0.2rem;
}

#features #product #product-image #trombone-img {
    display: flex;
    flex-wrap: wrap;
    width: 15vw;
    height: 15vh;
    margin: 0.2rem;
    padding: 0.4rem;
}
  
#product-description {
    flex: 4;
    margin: 0.2rem;
    padding: 0.2rem;
}
  
#product-description #product-name,
#product-description #description {
    margin: 0.2rem;
    padding: 0.2rem;
}
  
#media {
    display: flex;
    padding: 4em;
}
  
#video {
    border: none;
    width: 420px;
    height: 250px;
}

#product-pricing {
    border-left: 0.1rem solid wheat;
    border-right: 0.1rem solid wheat;
    width: 50vw;
    flex-wrap: wrap;
}

#pricing-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pricing {
    display: flex;
    padding: 2rem 8rem;
    height: 25vh;
}

#pricing section {
    border: 0.1rem solid aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    border-radius: 0.2rem;
}

#pricing-title h2 {
    padding: 1rem;
}

#brass-trombone-pricing {
    display: flex;
    flex: 1;
}

#gold-trombone-pricing {
    display: flex;
    flex: 1;
    margin: -1rem 0rem;
    padding: 1rem 0rem;
}

#silver-trombone-pricing {
    display: flex;
    flex: 1;
}

#pricing section #trombone-name {
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    margin: 0;
    padding: 0.2rem;
}

#pricing section #trombone-price {
    display: flex;
    flex-wrap: wrap;
    font-size: xx-large;
    margin: 0;
    padding: 0.2rem;
}

#pricing section #trombone-color {
    display: flex;
    flex-wrap: wrap;
    font-size: x-small;
    border-top: white 0.1rem solid;
    border-bottom: whitesmoke 0.1rem solid;
    margin: 0;
    padding: 0.4rem;
}

#pricing section button {
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    border: 0.1rem solid magenta;
    margin: 0;
    padding: 0.6rem;
    border-radius: 0.2rem;
    cursor: -webkit-grab; cursor: pointer;
}
  
#footer {
    display: flex;
    justify-content: center;
    background-color: #1d1d2d;
    color: white;
    border-top: 0.1rem white solid;
}
  
#footer-right-section #agreement {
    display: flex;
}
  
#footer-right-section #agreement li {
    flex: 1;
}

#footer li a, #footer li {
    cursor: pointer;
}
  
  /* Media Query */
  
@media all and (max-width: 500px) {
}
  