html {
    scroll-behavior: smooth;
    background-color: #1f1f2e;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: white;
}
  
#content {
    margin-top: 78px;
}
  
#header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;
    flex: 1;
    background-color: #1f1f2e;
    border-bottom: 0.01rem solid wheat;
    transition: top 0.3s;
}
  
#nav-bar {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#nav-bar a:hover {
    border-bottom: #fff 0.1rem solid;
}
  
#header-logo {
    flex: 1;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex: 1;
    padding: 0.2rem;
}

#header-logo picture {
    margin: 0.2rem;
    padding: 0.2rem;
}

#header-logo picture #header-img {
    height: 3vw;
}
  
#nav-items {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
}
  
#nav-items li {
    display: flex;
    flex: 1;
    justify-content: center;
}
  
.nav-link {
    text-decoration: none;
    list-style: none;
    padding: 0.1rem;
    display: flex;
    margin-top: 1rem;
}
  
.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
    background-color: #1d1d2d;
}

#horizontal-rule {
    width: 45vw;
    margin-top: 2rem;
}
  
.mini-article {
    border-left: 0.1rem solid wheat;
    border-right: 0.1rem solid wheat;
    align-items: center;
    display: flex;
    width: 50vw;
    justify-content: center;
    color: #fff;
    background-color: #2d2d2d;
}
  
.mini-article #subscription {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1;
    margin: 1rem;
}
  
.mini-article #subscription #title {
    flex: 2;
    border: 0.1rem solid teal;
    text-align: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 2rem;
}
  
.mini-article #subscription #form {
    flex: 1;
    border: 0.1rem solid teal;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
}

#form {
      display: flex;
      flex-direction: column;
      align-items: center;
}
  
#form input {
    padding: 3%;
}

#form #email {
    width: 20vw;
}

#form #submit {
    cursor: pointer;
}
  
.mini-article #features {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}
  
.mini-article #features #product {
    border: 0.1rem solid wheat;
    display: flex;
    flex-direction: row wrap;
    margin: 2rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
}

#features-title {
    display: flex;
    justify-content: center;
}
  
#features #product #product-image {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    border: 0.1rem solid teal;
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: azure;
    border-radius: 0.2rem;
    justify-content: center;
}

#features #product #product-image #trombone-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    margin: 0.2rem;
}
  
#product-description {
    display: flex;
    flex: 2;
    flex-direction: column;
    flex: 4;
    margin: 0.2rem;
    padding: 0.2rem;
    border: 0.15rem rgb(5, 5, 5) solid;
}
  
#product-description #product-name,
#product-description #description {
    margin: 0.2rem;
    padding: 0.2rem;
}
  
#media {
    display: flex;
    padding: 4em;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
}
  
#video {
    border: none;
    width: 45vw;
}

#pricing {
    border: green solid 1px;
    flex-flow: column wrap;
}

#pricing-title {
    border: teal solid 1px;
}

#pricing-banner {
    border: red solid 1px;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#pricing-card {
    border: yellow solid 1px;
    padding: 0.2rem;
    margin: 0.2rem;
    width: 30%;
    height: auto;
}
  
#footer {
    display: flex;
    justify-content: center;
    background-color: #1d1d2d;
    color: white;
    border-top: 0.1rem white solid;
}
  
#footer-right-section #agreement {
    display: flex;
}
  
#footer-right-section #agreement li {
    flex: 1;
}

#footer li a, #footer li {
    cursor: pointer;
}